DB_ENGINE=mysql
DB_HOST=database-1.chgorycf39my.ap-northeast-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=bookapp
DB_USERNAME=admin
DB_PASSWORD=change-me

GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false
